<a href="https://colab.research.google.com/github/tamayzengin/Machine-learning-algorhythms/blob/main/notebooks/Cross_Validation_and_Grid_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
cd /content/drive/MyDrive/Colab Notebooks/DATA

/content/drive/MyDrive/Colab Notebooks/DATA

Split data into: Train(70), validation(20) and test(10);
Fit model on train, evaluate model performance on validation, and adjust hyperparameters. At last final test data, cannot adjust.

In [ ]:
df = pd.read_csv("Advertising.csv")

In [ ]:
X = df.drop('sales',axis=1)

In [ ]:
y = df['sales']

#**Cross validation w/ variables**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)

In [ ]:
#test size = 0.5 means 50% of 30% other data --> = 15% of all data
X_eval, X_test,y_eval, y_test = train_test_split(X_other,y_other,test_size=0.5,random_state=101)

In [ ]:
len(df)

200

In [ ]:
len(X_train)

140

In [ ]:
len(X_eval)

30

In [ ]:
len(X_test)

30

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X_train)

StandardScaler()

In [ ]:
X_train = scaler.transform(X_train)

In [ ]:
X_test = scaler.transform(X_test)

In [ ]:
X_eval = scaler.transform(X_eval)

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
model_one = Ridge(alpha=100)

In [ ]:
model_one.fit(X_train,y_train)

Ridge(alpha=100)

In [ ]:
y_eval_pred = model_one.predict(X_eval)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_eval,y_eval_pred)

7.320101458823871

In [ ]:
model_two = Ridge(alpha=1)

In [ ]:
model_two.fit(X_train,y_train)

Ridge(alpha=1)

In [ ]:
new_pred_eval = model_two.predict(X_eval)

In [ ]:
mean_squared_error(y_eval,new_pred_eval) #if result is satisfactory, we proceed to final test

2.383783075056986

In [ ]:
y_final_test_pred = model_two.predict(X_test)

In [ ]:
mean_squared_error(y_test,y_final_test_pred)

2.2542600838005176

#**Cross Validation w/ cross_val_score**

In [ ]:
X = df.drop('sales',axis=1)

In [ ]:
y = df['sales']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X_train)

StandardScaler()

In [ ]:
X_train = scaler.transform(X_train)

In [ ]:
X_test = scaler.transform(X_test)

In [ ]:
model = Ridge(alpha=100)

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
scores = cross_val_score(model,X_train,y_train,scoring='neg_mean_squared_error',
                         cv=5)

In [ ]:
scores #bc of neg mean sq error, high is better.

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [ ]:
abs(scores.mean()) #mean of the scores

8.215396464543607

In [ ]:
model = Ridge(alpha=1)

In [ ]:
scores = cross_val_score(model,X_train,y_train,scoring='neg_mean_squared_error',
                         cv=5)

In [ ]:
scores

array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384])

In [ ]:
abs(scores.mean())

3.344839296530695

In [ ]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [ ]:
y_final_test_pred = model.predict(X_test)

In [ ]:
mean_squared_error(y_test,y_final_test_pred)

2.319021579428752

#**cross_validate**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.model_selection import cross_validate

In [ ]:
model = Ridge(alpha=100)

In [ ]:
scores = cross_validate(model,X_train,y_train,scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [ ]:
#https://scikit-learn.org/stable/modules/model_evaluation.html

In [ ]:
scores = pd.DataFrame(scores)

In [ ]:
scores.mean()

fit_time                        0.007613
score_time                      0.003107
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [ ]:
model = Ridge(alpha=1)

In [ ]:
scores = cross_validate(model,X_train,y_train,scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [ ]:
scores = pd.DataFrame(scores)

In [ ]:
scores.mean()

fit_time                        0.002194
score_time                      0.001570
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [ ]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [ ]:
y_final_pred = model.predict(X_test)

In [ ]:
mean_squared_error(y_test,y_final_pred)

2.319021579428752

#**Grid Search**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import ElasticNet

In [ ]:
base_elastic_net_model = ElasticNet()

In [ ]:
param_grid = {'alpha':[0.1,1,5,10,50,100],
              'l1_ratio':[.1,.5,.7,.95,.99,1]}

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
grid_model = GridSearchCV(estimator=base_elastic_net_model,
                          param_grid=param_grid,
                          scoring='neg_mean_squared_error',
                          cv=5,
                          verbose=1)

In [ ]:
grid_model.fit(X_train,y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 50, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.95, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=1)

In [ ]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [ ]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [ ]:
pd.DataFrame(grid_model.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002717,0.001893,0.000815,0.000073,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,6
1,0.002974,0.002860,0.000750,0.000041,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,5
2,0.005876,0.003556,0.000794,0.000007,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,4
3,0.004480,0.003488,0.000831,0.000052,0.1,0.95,"{'alpha': 0.1, 'l1_ratio': 0.95}",-3.213052,-1.472417,-5.396258,-2.177452,-4.241080,-3.300052,1.406248,3
4,0.003564,0.002768,0.000784,0.000016,0.1,0.99,"{'alpha': 0.1, 'l1_ratio': 0.99}",-3.208124,-1.478489,-5.380242,-2.181097,-4.222968,-3.294184,1.396953,2
5,0.001546,0.000079,0.000797,0.000082,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.206943,-1.480065,-5.376257,-2.182076,-4.218460,-3.292760,1.394613,1
6,0.001654,0.000046,0.000763,0.000030,1,0.1,"{'alpha': 1, 'l1_ratio': 0.1}",-9.827475,-5.261525,-11.875347,-7.449195,-8.542329,-8.591174,2.222939,12
7,0.001613,0.000073,0.000780,0.000057,1,0.5,"{'alpha': 1, 'l1_ratio': 0.5}",-8.707071,-4.214228,-10.879261,-6.204545,-7.173031,-7.435627,2.255532,11
8,0.002798,0.002461,0.000747,0.000037,1,0.7,"{'alpha': 1, 'l1_ratio': 0.7}",-7.920870,-3.549562,-10.024877,-5.379553,-6.324836,-6.639940,2.206213,10
9,0.001663,0.000046,0.000782,0.000031,1,0.95,"{'alpha': 1, 'l1_ratio': 0.95}",-6.729435,-2.591285,-8.709842,-4.156317,-5.329916,-5.503359,2.102835,9
10,0.001706,0.000156,0.000784,0.000021,1,0.99,"{'alpha': 1, 'l1_ratio': 0.99}",-6.521344,-2.431385,-8.471086,-3.946327,-5.151344,-5.304297,2.079945,8
11,0.001667,0.000033,0.000794,0.000024,1,1,"{'alpha': 1, 'l1_ratio': 1}",-6.468807,-2.391483,-8.410171,-3.893566,-5.105922,-5.253990,2.073832,7
12,0.001684,0.000008,0.000840,0.000060,5,0.1,"{'alpha': 5, 'l1_ratio': 0.1}",-22.979265,-15.547104,-23.668249,-19.921063,-16.262737,-19.675684,3.334901,13
13,0.001644,0.000148,0.000786,0.000057,5,0.5,"{'alpha': 5, 'l1_ratio': 0.5}",-27.793488,-18.602269,-27.107849,-23.945227,-18.064635,-23.102694,4.108297,14
14,0.004815,0.005800,0.002061,0.002446,5,0.7,"{'alpha': 5, 'l1_ratio': 0.7}",-29.655510,-21.085059,-29.629478,-26.724595,-20.223654,-25.463659,4.077877,16
15,0.001680,0.000040,0.000805,0.000021,5,0.95,"{'alpha': 5, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
16,0.001686,0.000021,0.000820,0.000047,5,0.99,"{'alpha': 5, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
17,0.001680,0.000009,0.000854,0.000159,5,1,"{'alpha': 5, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
18,0.002436,0.001541,0.000782,0.000014,10,0.1,"{'alpha': 10, 'l1_ratio': 0.1}",-27.385346,-19.159534,-27.635464,-24.154104,-18.968161,-23.460522,3.794608,15
19,0.001578,0.000139,0.000747,0.000071,10,0.5,"{'alpha': 10, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
20,0.001696,0.000043,0.000786,0.000013,10,0.7,"{'alpha': 10, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
21,0.002823,0.001496,0.001012,0.000472,10,0.95,"{'alpha': 10, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
22,0.001601,0.000068,0.000797,0.000057,10,0.99,"{'alpha': 10, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
23,0.001590,0.000046,0.000750,0.000046,10,1,"{'alpha': 10, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
24,0.001641,0.000285,0.000748,0.000051,50,0.1,"{'alpha': 50, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
25,0.001609,0.000066,0.000760,0.000036,50,0.5,"{'alpha': 50, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
26,0.001702,0.000147,0.000787,0.000023,50,0.7,"{'alpha': 50, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
27,0.001752,0.000119,0.000821,0.000053,50,0.95,"{'alpha': 50, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
28,0.002344,0.001570,0.000786,0.000039,50,0.99,"{'alpha': 50, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
29,0.002006,0.000784,0.000746,0.000020,50,1,"{'alpha': 50, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
30,0.001621,0.000091,0.000781,0.000053,100,0.1,"{'alpha': 100, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
31,0.001577,0.000073,0.000772,0.000035,100,0.5,"{'alpha': 100, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
32,0.002116,0.000965,0.000761,0.000020,100,0.7,"{'alpha': 100, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
33,0.001562,0.000016,0.000760,0.000031,100,0.95,"{'alpha': 100, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
34,0.001598,0.000168,0.000765,0.000033,100,0.99,"{'alpha': 100, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
35,0.001604,0.000038,0.000734,0.000043,100,1,"{'alpha': 100, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17

**If we're satisfied with results then, we use the founded alpha and l1 ratio. If we're not, we try the same procedure with different param_grid alpha velues and model cv values in grid_model etc. values. In this case we use the founded results.**

In [ ]:
y_pred = grid_model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test,y_pred)

NameError: ignored